.formheading {
 display: block;
 padding: 7px;
 margin-top: 10px;
 margin-bottom: 10px;
 color: #fff;
 font-weight: bold;
 background: #333;
 text-align: center;
}
.blogwidget {
 padding: 2px;
 background: #fff;
 -webkit-box-shadow: 0px 0px 5px #aaa;
 -moz-box-shadow: 0px 0px 5px #aaa;
 box-shadow: 0px 0px 5px #aaa;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 -khtml-border-radius: 2px;
 border-radius: 3px 3px 3px 3px;
}
.insideblogwidget {
 display: block;
 background: #eee;
 border: 1px solid #fff;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 -khtml-border-radius: 2px;
 border-radius: 2px;
 text-align: center;
 padding: 2px;
}
a.blogbutton {
 cursor: pointer;
 color: #FFFFFF;
 line-height: 12px;
 font-size: 12px;
 font-weight: bold;
 background: #5C872D;
 border: 1px solid #fff;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 -khtml-border-radius: 2px;
 border-radius: 2px;
 -webkit-box-shadow: 0px 0px 3px #284A03;
 -moz-box-shadow:  0px 0px 3px #284A03;
 box-shadow:  0px 0px 3px #284A03;
 text-decoration: none;
 padding: 6px;
 padding-left: 12px;
 padding-right: 12px;
 display: inline-block;
 -webkit-transition: 0.5s ease;
 -moz-transition: 0.5s ease;
 -o-transition: 0.5s ease;
 transition: 0.5s ease;
 margin: 2px;
}
a.blogbutton:hover {
 background: #fff;
 color: #5C872D;
 border-color: #5C872D;
 }
span.bnline {
 font-weight: bold;
 color: #D43E0A;
 }
a.bwlink {
 width: 30px;
 padding-left: 3px;
 padding-right: 3px;
 padding-top: 3px;
 padding-bottom: 3px;
 font-size: 18px;
 line-height: 13px;
 background: #42ABE3;
 text-decoration: none;
 color: #fff;
 height: 32px;
 display: inline-block;
 border-radius: 1px;
 overflow: hidden;
 margin-top: 2px;
 margin-left: 2px;
 -webkit-transition: 0.7s ease;
 -moz-transition: 0.7s ease;
 -o-transition: 0.7s ease;
 transition: 0.7s ease;
 position: relative;
 text-align: center;
}
a.bwlink span.bli {
 position: absolute;
 bottom: 0px;
 left: 50%;
 margin-left: -8px;
 color: #fff;
 font-size: 10px;
}
a.bwlink.bwodd {
 background: #1F91CF;
}
a.bwlink:hover {
 opacity: 0.5;
}
.bwinfo {
 text-align: left;
 display: block;
 vertical-align: top;
 position: relative; 
 /*padding-left: 20px;*/
}
.bwinfo > img { position: absolute; left: 0px; display: none;}
.bwstats {
 display: inline-block;
} 
.bwstats table {
 font-size: 11px;
 line-height: 11px;
 border-collapse:collapse;
 border-spacing: 0px;
}
.bwstats table td {
 padding: 3px;
 background: #32A4E2;
 padding-left: 7px;
 padding-right: 7px;
 font-size: 12px;
 width: 150px;
 height:32px;
 color: #fff;
}
.bwstats table td.bwresult {
 border-right: 3px solid #eee;
 padding-left: 0px;
 padding-right: 0px;
 width: 27px;
 text-align: center;
 color: #fff;
 font-size: 14px;
 font-weight: bold;
 background: #1F91CF;
}
.bwstats table td span {
 color: #fff;
}
table.list td {
    vertical-align: top;
	border-bottom: 3px solid #eee;
}

input[type='text']:focus, textarea:focus {
	-webkit-box-shadow: 0px 0px 8px #444;
	-moz-box-shadow: 0px 0px 8px #444;
	box-shadow: 0px 0px 8px #444;
	background: #eee;
}
select { 
    border: 2px solid #DDDDDD;
    padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	width: 180px;
}
h3.addsuperh3 {
	padding: 10px;
	background-color: #e9e9e9;
	 /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#e9e9e9));
     /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #eeeeee, #e9e9e9); 
     /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #eeeeee, #e9e9e9);
     /* IE 10+ */
    background-image: -ms-linear-gradient(top, #eeeeee, #e9e9e9);
     /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #eeeeee, #e9e9e9);
	border: 1px solid #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #333;
	display: block;
	color: #444; 
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	transition: 1s ease;
}
h3.addsuperh3.active {
	background: #f9f9f9;
	box-shadow: inset 0px 0px 4px #333;
}
#sdesc { display: none; }
a.button, .list a.button {
    background: #4094D8;
	color: #fff;
	padding: 6px;
	font-weight: bold;
	border: 1px solid #4FB0FA;
	border-right: 1px solid #3E83B7;
	border-bottom: 1px solid #3E83B7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	transition: 0.7s ease;
	margin-right: 5px;
}
a.button.sterge {
	background: #C93315;
	border: 1px solid #B82424;
	border-top: 1px solid #E14223;
	border-left: 1px solid #E14223;
}
a.button:hover, .list a.button:hover {
	background: #777;
	border: 1px solid #444;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
}
.htabs {
	border-bottom: 3px solid #ddd;
}
.htabs a {
    border-top: 3px solid #ddd;
	border-left: 3px solid #ddd;
	border-right: 3px solid #ddd;
	background: #88C847;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	padding: 6px 15px 5px;
	color: #fff;
}	
.htabs a.selected { 
     background: #FFFFFF;
	 color: #88C847;
     padding-bottom: 8px;
}
.gltab {
    border-bottom: 3px solid #ddd;
	}
a.butonas, .list a.butonas {
    background: #4094D8;
	color: #fff;
	padding: 4px;
	margin-bottom: 2px;
	display: inline-block;
	line-height: 16px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border: 1px solid #4FB0FA;
	border-right: 1px solid #3E83B7;
	border-bottom: 1px solid #3E83B7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}
a.butonas:hover, .list a.butonas:hover {
	 background: #3A81B7;
}
a.butonasc, .list a.butonasc {
    background: #FF2323;
	color: #fff;
	padding: 4px;
	line-height: 16px;
	padding-left: 7px;
	padding-right: 7px;
	display: inline-block;
	font-weight: bold;
	border: 1px solid #FB6262;
	border-right: 1px solid #C11818;
	border-bottom: 1px solid #C11818;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 4px;
	text-decoration: none;
}
a.butonasc:hover, .list a.butonasc:hover {
	 background: #EB1D1D;
}
.box > .content {
	overflow: visible;
}

.advs a.expand {
	  padding: 10px;
	background-color: #e9e9e9;
	 /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#e9e9e9));
     /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #eeeeee, #e9e9e9); 
     /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #eeeeee, #e9e9e9);
     /* IE 10+ */
    background-image: -ms-linear-gradient(top, #eeeeee, #e9e9e9);
     /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #eeeeee, #e9e9e9);
	  border: 1px solid #fff;
	  border-radius: 4px;
	  box-shadow: 0px 0px 2px #333;
	  display: block;
}
.box.blogbox > .heading {
	height: 42px;
	padding-left: 15px;
	padding-right: 7px;
	border: none;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background: #444;
	box-shadow: inset 0px 1px 1px #888;
	border: 1px solid #444;
}
.box.blogbox > .heading h1 {
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #F0D3B0;
	font-size: 16px;
	float: left;
}
.box.blogbox .content {
	background: #f7f7f7;
}
span.nhelp {
	font-size: 11px;
	color: #888;
}
.tooltipsy {
    padding: 6px;
    max-width: 100px;
	margin-left: 30px;
    color: #fff;
	text-align: center;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #555;
	box-shadow: 0px 0px 4px #000;
}
table.form td {
	background: #eee;
	border-bottom: 1px solid #ddd !important;
	width: 20% !important;
	padding: 7px;
}
table.form { margin-top: 5px; margin-bottom: 5px; }
table.form td + td {
	background: #fff;
	width: 75% !important;
	border-bottom: 1px solid #eee !important;
}
.radiowraper {
	display: inline-block;
	padding: 4px;
	background: #eee;
	padding-right: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #D5BCBC;
	min-width: 130px;
}
.radiowraper.bes {
	min-width: 50px;
	margin: 2px;
}